<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p class="about">{{aboutText}}</p>
      <img class="portrait " src="./img/dd.png" />
    </div>
    
    {{>footer}}
  </body>
</html>